// Neutral colours
$white: #fafafa;
$lighter-grey: #e2dfdf;
$light-grey: #ccc;
$grey: #bfbfbf;
$black: #2b2b2b;

// Identity colours
$primary: #40005d;
$secondary: #7563bb;

// State colours
$error: #db0000;
 